<div *ngIf="task">

    <div align="center"><h2>{{task.title}}</h2></div>

<fieldset class="fieldset1">
    <legend class="legend">
         ID: {{task.id}}
    </legend>
    <div class="form-group">
        <label>Title</label>
        <input class="form-control" [(ngModel)]="task.title">
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" [(ngModel)]="task.description"></textarea>
    </div>
    <div class="form-group">
        <label>Accepted</label>
        <div class="onoffswitch" >
            <input type="checkbox" [(ngModel)]="task.accepted" class="onoffswitch-checkbox" [attr.id]="'myonoffswitch'+task.id"
            >
            <label [attr.for]="'myonoffswitch'+task.id" class="onoffswitch-label">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label></div>
    </div>
</fieldset>
    <a class="btn btn-primary" (click)="gotoTasks()">Back</a>
    <a class="btn btn-info" (click)="save()">Save</a>
</div>