<div align="center"><h2>{{title}}</h2></div>
<br/>
<br/>
<button (click)="addTask()">Add new Task</button>
<div *ngIf="addingTask">
    <form *ngIf="active" #addTaskForm="ngForm"
          (ngSubmit)="prepareTask(inputTitle.value,textareaDesc.value); save(); inputTitle.value=''; textareaDesc.value=''; ">

        <div class="form-group"><label for="title">Title</label><input #inputTitle required class="form-control" name="title" id="title">
        <!--<div [hidden]="title.valid || title.pristine" class="alert alert-danger">Title is requires</div>-->
        </div>
        <div class="form-group"><label for="description">Description</label>
            <textarea required #textareaDesc class="form-control" id="description" name="description"></textarea></div>
        <button type="submit" class="btn btn-success">
            Add
        </button>
    </form>
</div>
<br/>

<div>
    <table class="table table-bordered">
        <thead>
        <th>Id</th>
        <th>Title</th>
        <th>Accepted</th>
        <th>Delete</th>
        </thead>
        <tr *ngFor="let task of tasksList" [class.selected]="task === selectedTask" (click)="onSelect(task)">
            <td>{{task.id}}</td>
            <td><a [routerLink]="['./detail', task.id]">{{task.title}}</a></td>
            <td>
                {{task.accepted ? 'Accepted' : 'Not Accepted'}}
            </td>

            <td>
                <button class="delete-button" (click)="delete(task, $event)">Delete</button>
            </td>

        </tr>
    </table>
</div>

