<header>
  <div class="jumbotron jumbotron-fluid" id="banner">
    <div class="parallax text-center">
      <div class="parallax-pattern-overlay">
        <div class="container text-center" id="size-banner">
          <h2 class="display-2">Todo Project</h2>
          <h3 class="banner-tag-line">Project to show a examples of Angular2. This is my first Angular2 App.
          Using Routers, services and Component writes in the TypeScript</h3>
          <!--<a href="https://github.com/sirajc/angular2-bs4-navbar" class="btn btn-primary-outline btn-banner">View on Github</a>-->
        </div>
      </div>
    </div>
  </div>
</header>

